# IAM Role
resource "aws_iam_role" "{{.ResourceName}}_role" {
  name = "{{.FunctionName}}-lambda-role"
  assume_role_policy = jsonencode({
    "Version" : "2012-10-17",
    "Statement" : [{
      "Action" : "sts:AssumeRole",
      "Effect" : "Allow",
      "Sid" : "",
      "Principal" : {
        "Service" : "lambda.amazonaws.com"
      }
    }]
  })
}

# Lambda Function
resource "aws_lambda_function" "{{.ResourceName}}" {
  function_name = "{{.FunctionName}}"
  role          = aws_iam_role.{{.ResourceName}}_role.arn
  handler       = "{{.Handler}}"
  timeout       = {{.Timeout}}
  runtime       = "{{.Runtime}}"
  architectures = ["{{.Architecture}}"]
  memory_size   = {{.MemorySize}}

{{- if .S3Key}}
  s3_bucket = "{{.S3Bucket}}"
  s3_key    = "{{.S3Key}}"
{{- else}}
  s3_bucket = "{{.S3Bucket}}"
  s3_key    = "templates/zip/bootstrap.zip"
{{- end}}

{{- if .EnvironmentVariables}}
  environment {
    variables = {
{{- range $key, $value := .EnvironmentVariables}}
      {{$key}} = "{{$value}}"
{{- end}}
    }
  }
{{- end}}
}
